<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/mfu_logo 1.png" alt="Logo" class="navbar-logo">
    <div class="brand-divider"></div>
    <div class="brand">
      <div class="navbar-title">HOSPITAL. <span>MFU</span></div>
      <div class="title-divider"></div>
      <span class="navbar-subtitle">SMART HOSPITAL SYSTEM</span>
    </div>
  </div>
  <div class="navbar-menu">
    <!--
    language switcher starts
    <div class="language-switcher">
      <span class="lang-option" [class.active]="currentLanguage === 'EN'" (click)="switchLanguage('en')">EN</span>
      <span class="divider">|</span>
      <span class="lang-option" [class.active]="currentLanguage === 'TH'" (click)="switchLanguage('th')">TH</span>
    </div>
    -->
    <div class="nav-links">
      <a href="/home-page" class="text-dark">Home</a>
      <a href="/blog-page" class="text-dark">Blog</a>
    </div>
    <div class="user-profile" (click)="toggleDropdown()">
      <span class="user-icon"></span>
      <span class="user-name">{{userName}}</span>
      <span class="dropdown-arrow">&#9662;</span>
    </div>
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <ul>
        <li><a href="#"><img src="assets/account 1.png">Profile</a></li>
        <li><a href="#"><img src="assets/cog 1.png">Settings</a></li>
        <li><a href="#" style="color: red;"><img src="assets/exit-to-app 1.png">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="google_translate_element" ></div>
