.filters {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.top-bar {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    align-items: center;
    display: flex;
}

.back_button {
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 10px;
    cursor: pointer;
}

.form-control {
    width: 350px;
    height: 45px;
}

.search-button {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #B8001F; 
    color: #ffffff; 
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
  }

  .search-button i,
.search-button .material-icons {
    margin-top: 3px;
    margin-right: 0.5rem; 
    vertical-align: middle;
}

.table-container {
    margin: 50px 100px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table th:nth-child(1) {
    width: 10%; 
}

.table th:nth-child(2) {
    width: 40%; 
}

.edit-button span,
.delete-button span {
    cursor: pointer;
}

.two-icons {
    display: flex;
}