.square {
  background-color: blue;  /* Background color */
  height: 100px;           /* Fixed height for squares */
  /* The width will be controlled by the Bootstrap grid */
}
.doctor-image{
  height:150px;
  width:150px;
  object-fit: cover;
}

.border-black{
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.whole content{
  max-width: 1000px;
}

.btn-primary {
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 10px 20px;
  background-color: #B8001F;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #880016;
}
